.table_title {
	font-family: "Noto Sans KR", Arial, "sans-serif";
  font-weight: 600;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.18;
  /* color: #030303; */
  color: #3d3d4d;
  letter-spacing: -1px;
}

.content_table{
  display: flex;
  flex-direction: column;
  border-top: 2px solid #333;
  margin-top: 10px;
}

tr.head{
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  color: #030303;
  letter-spacing: -0.5px;
  text-align: center;
  background-color: #EAE5DF;
  border-bottom: 1px solid #d1cdc9;
}

tr.content{
  height: 90px;
  font-weight: 400;
  font-size: 16px;
  color: #030303;
  letter-spacing: -0.5px;
  cursor: pointer;
}
tr.content:hover{
  background-color: #e5ebdd;
}

tr.content > td.text{
  border-bottom: 1px solid #ddd;
}

tr.content > td.title{
  color: #030303;
  border-bottom: 1px solid #ddd;
}

tr.content > td.center{
  text-align: center;
}


tr.content:hover td.title{
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  font-size: 16px;
  color: #3d3292;
  letter-spacing: -0.5px;
}

.grid_m {
  display: grid;
  height: 62px;
  padding: 0px 0 0px 0;
  align-items: center;
  justify-items: center;
  grid-auto-rows: minmax(40px, auto);
  border-bottom: 1px solid #f7f7f7;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: center;
  color: #888;
}
.grid_m.header {
  border-radius: 10px 10px 0 0;
  background-color: #fff;
}
.grid_m.body {
  background-color: #fff;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 3.23; */
  letter-spacing: normal;
  color: #555;
  /* border-radius: 0px 0px 10px 10px; */
}
.grid_m.bottom {
  background-color: #fff;
  box-shadow: 0px 2px 0 0 #e8e8e8;
  border-radius: 0px 0px 10px 10px;
}
.grid_m.body:hover {
  background-color: #F1F1F8;
}
.grid_m.nodata {
  grid-template-columns: 100%;
}
.grid_m.subbody {
  background-color:#e8e8e8;
  border: 1px solid #f7f7f7;  
}